body {
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    color: rgb(173, 6, 6);
    text-align: left;
  }
  
  p {
    font-family: verdana;
    font-size: 10px;
  }
  * Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #73eb97;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(46, 45, 45);
  color: rgb(211, 211, 211);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}